<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
  <appSettings>
    <add key="modbusrtutcp" value="[{'ServerID':'HR001','IP':'172.16.1.2','PORT':'6008'},{'ServerID':'GDDST001','IP':'172.16.1.2','PORT':'6009'}]"/>
    <add key="interval" value="100"/>
    <!-- [{'ServerID':'GDDST001', 'IP':'gddst.wicp.net','PORT':'30114'}] -->
    <!-- [{'ServerID':'GDDST001', 'IP':'172.16.2.13','PORT':'502'}] -->
    <add key="modbustcp" value="[{'ServerID':'GDDST001', 'IP':'gddst.wicp.net','PORT':'30115'}]" />
    <!-- fatal,error,warn,info,debug -->
    <add key="loglevel" value="info" />
    <add key="retrytimes"  value="3" />
  </appSettings>
  
	<system.serviceModel>
		<services>
			<service name="GDDST.DI.DataServiceWCF.DataService" behaviorConfiguration="DataServiceBehavior">
				<endpoint address="" binding="webHttpBinding" contract="GDDST.DI.DataServiceWCF.IDataService" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://172.16.1.2:8734/gddstdataserver/dataservice/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DataServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<behavior>
					<serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>